@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;1,800&display=swap');

/*CSS del grid*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
   height: 100vh;
}

body{
    width: 100%;
    min-width: 300px;
}

.contenidor{
    width: 90%;
    margin:auto;
    text-align: center;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px auto 80px;
    height: 100%;
}

.contenidor .header{
    grid-column: 1 1;
    grid-row: 1 2;
   /*border:solid 1px rgb(98, 230, 22);*/
}

.contenidor .main{
    grid-column: 1 1;
    grid-row: 2 3;
}

.contenidor .footer{
    grid-column: 1 1;
    grid-row: 2 3;
    /*border:solid 1px rgb(98, 230, 22);*/
}

.contenidor .header .div{
    justify-self: center;
    align-self: center;
}

/*faig variables dels colors*/
:root{
    --theme-color: white;
    --prymary-color: #e30613;
    --secundary-color: #3c3c3b;
    --complementari-color:#7264a9;;
    --text-color:black;
}

/*declaro css general*/
a{
    text-decoration: none;
    color:var(--theme-color);
}

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    background-color: var(--secundary-color);
}

/*CSS index/*

/*capçalera*/
.header{
    display:flex;
}
.nav--menu{
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    display: flex;
    align-items: end;
    text-transform: uppercase;
}
.nav--menu-ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin:0 auto;
}
.nav--menu-li{
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    /*border:solid 1px rgb(98, 230, 22);*/
}
.nav--menu-li:hover{
    transition: 1s;
    font-weight: 800;
    background-color: var(--complementari-color);

}
.header img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
/*css main*/
.main{
    display:flex;
    justify-content: center;
    align-items: center; 
}
.main img{
    width: 65%;
}
/*css footer*/
.footer{
    display:flex;
    color:var(--theme-color);
    height: 100px;
}
.footer--drets{
    display:flex;
    align-items: start;
    padding-top: 2rem;
    float:left;
    width:50%;
    height: 100%;
   /* border:solid 1px red;*/
}
.footer--drets p{
    margin: 0 auto;
    font-size: 1rem;
   /* border:solid 1px red;*/
}
.footer--xarxes{
    float:right;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: start;
    /*border:1px solid red;*/
    padding-left: 12.5rem;
}

.footer--xarxes-item{
    width: 80%;
    height: 100%;
    /*border:solid blue 1px;*/
    display: flex;
}
.footer--xarxes a{
    float:right;
    padding-right: 2rem;
    font-size: 2.5rem;
   /* border:1px solid red;*/
}
.footer--xarxes a:hover{
    transition: 1s;
    font-size: 3.2rem;
    color: var(--complementari-color);
}

/* css main-sobremi*/
.main--sobremi{
    width: 90%;
    margin:0 auto;
    background-color: var(--theme-color);
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-bottom-left-radius: 10rem;
    border-top-right-radius: 8rem;
    border-color: var(--prymary-color);
    border-style: groove;
    border-width: 0.7rem;
    display: flex;
    align-items: center;
}
.sobremi-contenidor{
    width: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
}
.sobremi--explicacio{
    width: 90%;
    margin:0rem auto;
    /*border:#3fb514 2px solid;*/
    display: flex;
}
.explicacio--disseny{
    width: 28%;
    text-align: left;
    /*border:#bc9b20 2px solid;*/
}
.explicacio--disseny h2, .explicacio--desemvolupadora h2, .contacte-contenidor h2{
    font-weight: 800;
    font-size: 1.5rem;
    color:var(--prymary-color);
    margin-bottom: 15px;
    line-height: 1.6rem;
}
.explicacio--desemvolupadora{
    width: 32%;
    text-align: right;
    /*border:#bc9b20 2px solid;*/
}
.explicacio--desemvolupadora h2{
    padding-right: 1.5rem;
}
.explicacio--disseny h2{
    padding-left: 1.5rem;
}
.explicacio--desemvolupadora p{
    padding-right: 1.5rem;
    font-weight: 400;
    font-size: 1rem;
}
.explicacio--disseny p{
    padding-left: 1.5rem;
    font-weight: 400;
    font-size: 1rem;
}

.sobremi--imatgeneus{
    width: 40%;
   /* border:#bc9b20 2px solid;*/
}
.sobremi--imatgeneus img{
    padding: 2rem;
    width: 100%;
    /*border:#bc9b20 2px solid;*/
}

/*css contacte*/
.contacte-contenidor{
    width: 70%;
    height: 100%;
    margin: 0 auto;
    /*border:1px solid red;*/
    padding-top: 2rem;
}
.contacte-contenidor p{
    font-weight: 400;
    font-size: 1rem;
}
.contacte--formulari{
    width: 70%;
    margin:1rem auto;
    border:solid 2px var(--complementari-color);
    border-radius: 1rem;
    padding: 2rem;
    font-weight: 400;
    font-size: 1rem;
    text-align: left;
    background-color: var(--complementari-color);
}
.contacte--formulari label, .contacte--formulari input, .contacte--formulari textarea{
    width: 100%;
    height: 2rem;
    border-radius: 1rem;
    margin: 0.6rem 0;
    color:var(--secundary-color);
    font-weight: 600;
    color:var(--theme-color);
}
.contacte--formulari input{
    border:1px solid var(--complementari-color);
    padding-left: 0.5rem;
    font-weight: 300;
    font-size: 0.9rem;
    font-family: 'Montserrat', sans-serif;
}
.contacte--formulari textarea{
    height: 5rem;
    font-weight: 300;
    font-size: 0.9rem;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    font-family: 'Montserrat', sans-serif;
    resize: none;
}
.contacte--submit{
    width: 6rem;
    height: 2rem;
    padding: 0.2rem;
    background-color: var(--theme-color);
    color: var(--prymary-color);
    border-radius: 0.2rem;
    border:none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    margin-left: 40%;   
}
.contacte--submit:hover{
    color:var(--theme-color);
    background-color: var(--secundary-color);
    transition: 1s;
}

/* css activitats*/
.contenidor--activitats{
    width: 92%;
    height: 100%;
    margin: 0 auto;
    padding-top: 2rem;
}
.contenidor--activitats .titol{
    width: 100%;
    display: flex;
    float:right;
    text-align: center;
}
.contenidor--activitats .titol .titol--esquerra, .contenidor--activitats .titol .titol--dreta{
    width: 50%;
    font-weight: 800;
    font-size: 1.5rem;
    color:var(--prymary-color);
    margin-bottom: 15px;
    margin-left: -3rem;
}

.activitats--llistes{
    width: 100%;
    display:flex;
}
.llistes--html{
    width: 42%;
}
.llistes--css{
    width: 58%;

}
.llistes--html-seccio1, .llistes--html-seccio2, .llistes--html-seccio3{
    /*border:solid 1px rgb(15, 111, 214);*/
    display: flex;
    margin-bottom: 1.5rem;
    text-align: left;
}

.llistes--css-seccio1, .llistes--css-seccio2,
.llistes--css-seccio3{
    /*border:solid 1px rgb(15, 111, 214);*/
    display: flex;
    margin-bottom: 1.5rem;
    text-align: left;
}

.llistes--html-seccio1 h3, .llistes--html-seccio2 h3, .llistes--html-seccio3 h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 0.2rem;
    /*color:var(--text-color);*/
}

.llistes--css-seccio1 h3,
.llistes--css-seccio2 h3, .llistes--css-seccio3 h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 0.2rem;
}

.llistes--html-seccio1 ul, .llistes--html-seccio2 ul, .llistes--html-seccio3 ul{
    list-style: none;
    margin-right: 2.5rem;
}
.llistes--css-seccio1 ul, .llistes--css-seccio2 ul, .llistes--css-seccio3 ul{
    list-style: none;
    margin-right: 1.5rem;
}
.llistes--css-seccio3 .marge--dret ul{
    list-style: none;
    margin-right: 3.5rem;
}

.llistes--html-seccio1 ul li, .llistes--html-seccio2 ul li, .llistes--html-seccio3 ul li{
    margin-bottom: 0.10rem;
}
.llistes--css-seccio1 ul li, .llistes--css-seccio2 ul li, .llistes--css-seccio3 ul li{
    margin-bottom: 0.10rem;
}
.llistes--html-seccio1 ul li a, .llistes--html-seccio2 ul li a, .llistes--html-seccio3 ul li a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
    color: var(--secundary-color);
}
.llistes--css-seccio1 ul li a, .llistes--css-seccio2 ul li a, .llistes--css-seccio3 ul li a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
    color: var(--secundary-color);
}
.llistes--html-seccio1 ul li a:hover, .llistes--html-seccio2 ul li a:hover, .llistes--html-seccio3 ul li a:hover{
    color: var(--complementari-color);
}
.llistes--css-seccio1 ul li a:hover, .llistes--css-seccio2 ul li a:hover,
.llistes--css-seccio3 ul li a:hover{
    color: var(--complementari-color);
}